body{
    margin: 0;
    background: rgb(7, 6, 6);    
    
}

  
@media (max-width: 934px) {
    .responsive-img {
        max-width: 150px;
    }
}
  
@media (min-width: 935px) {
    .responsive-img {
        max-width: 200px;
    };
}
/* CSS */
.img-responsive {
  width: 90%; /* por defecto, la imagen ocupará el 100% del ancho disponible */
  border:0px ;
  border-radius: 0%;
  box-shadow: 0px 0px 20px rgb(36, 36, 36);
  margin-top:20px;
}

.videos {
  width: 95%;
}

@media (min-width: 600px) { /* cuando la pantalla tiene al  menos 600px de ancho */
  .img-responsive {
    width: 95%; /* la imagen ocupará el 90% del ancho disponible */
    margin-top:50px;
  }
  .videos {
    width: 95%;
  }

}
@media (max-width: 570px) { /* cuando la pantalla tiene al  menos 600px de ancho */
  .img-responsive {
    width: 90%; /* la imagen ocupará el 90% del ancho disponible */
    margin-top:50px;
  }
  .videos {
    width: 95%;
  }

}
